.cover {
    align-items: center;
    background: center center no-repeat;
    background-size: cover;
    color: var(--blanc);
    display: flex;
    position: relative;
    /* Pour override le container -> pas la meilleur solution mais ça marche */
    width: calc(100vw - 15px);
    left: calc(-20vw + 6px);
}

.cover::before {
    background-color: rgba(21, 34, 41, 0.4);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.cover-title, .cover-subtitle, .cover-content {
    position: relative;
}

.cover-search-box ~ .cover-title, .cover-search-box ~ .cover-subtitle, .cover-search-box ~ .cover-content {
    margin-right: 46rem;
}

.cover-title {
    color: var(--blanc);
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 1em;
    margin: 0;
}

.cover-subtitle {
    font-family: "Muli", sans-serif;
    font-weight: normal;
    margin: 1rem 1rem 0 0;
    font-size: 18px;
}

.cover-subtitle a {
    border-bottom: 0.1rem solid var(--blanc);
    color: var(--blanc);
    text-decoration: none;
    transition: border 0.2s ease;
}

.cover-subtitle a:hover, .cover-subtitle a:focus {
    border-bottom-color: transparent;
}

.cover-content {
    margin-top: 2rem;
}

.cover-search-box {
    float: right;
    margin-top: 1rem;
    position: relative;
    width: 44rem;
}

.cover-layout-wrapper{
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
    min-width: 50%;
}

.cover-create-collection::before{
    color: var(--noir);
    background-color: var(--rose-pale);
}

.main-accueil > .cover {
    width: 100% !important;
    left: unset;
    margin-bottom: 20px;
}

.layout-wrapper-titles{
    max-width: 75%;
}

@media (max-width: 767.9px) {
    .cover {
        min-height: 16rem;
        text-align: center;
        left: -30px;
        overflow: hidden;
    }

    .cover.tall {
        min-height: 23rem;
    }

    .cover-title {
        font-size: 2.2rem;
    }

    .cover-subtitle {
        font-size: 1.6rem;
        max-width: unset;
    }

    .cover-credits {
        display: none;
    }

    .cover-layout-wrapper{
        margin: 20px;
        padding: 20px;
    }
}
@media (768px <= width <= 1250px) {
    .cover {
        width: calc(100% + 40px);
        left: -20px;
       
    }
}

@media (min-width: 768px) {
    .cover {
        min-height: 35rem;
    }

    .cover.tall {
        min-height: 37rem;
        min-height: 27vw;
    }

    .cover-title {
        font-size: 3.2rem;
    }

    .cover-subtitle {
        font-size: 1.8rem;
    }

    .cover-credits {
        bottom: 0;
        color: var(--gris-f0);
        font-size: 12px;
        padding: 1rem;
        position: absolute;
        right: 0;
    }

    .cover-credits a {
        color: rgba(255, 255, 255, 0.75);
        text-decoration: none;
    }

    .cover-credits a:hover {
        border-bottom: 0.1rem solid;
    }
}

@media (width <= 580px) {
    .cover {
        width: calc(100% + 20px);
        left: -20px;
    }

    .cover-layout-wrapper{
        width: 100%;
    }
}

