.button {
  border-radius: 2px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.2s ease;
  padding: 12px 20px;
  margin: 10px;
}

/******************** GREEN BUTTONS **********************/
.green-button {
  background-color: #A2B93B;
  color: #FFFFFF;
}

.green-button:hover, .green-button:focus {
  background-color: #B3C954;
}

.green-button.outline {
  background-color: #FFFFFF;
  border: 1px solid #A2B93B;
  color: #B2CB43;
}

.green-button.outline:hover, .green-button.outline:focus {
  background-color: #EBEFDB;
}

/******************* PURPLE BUTTONS ************************/
.purple-button {
  background-color: #964E75;
  color: #FFFFFF;
}

.purple-button:hover, .purple-button:focus {
  background-color: #B57F9C;
}

.purple-button.outline {
  background-color: #FFFFFF;
  border: 1px solid #964E75;
  color: #964E75;
}

.purple-button.outline:hover, .purple-button.outline:focus {
  background-color: #EAD6E1;
}


