
.footer {
    /*border-top: 1rem solid rgba(145, 138, 111, 0.2);*/
    background-color: var(--rose-pale);
    margin-top: 10px;
    height: 400px;
}

.footer-layout{
    position: relative;
    display: flex;
    height: 100%;
}

.footer-nav-plan {
    position: relative;
    background-color: var(--rose-pale);
    padding: 3.5rem 0;
    margin: 0;
    left: 20vw;
    display: flex;
}

.footer-left {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.footer-nav-title{
    color: var(--violet);
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}

.footer-nav-plan > div > ul{
    display: flex;
    flex-direction: column;
    max-height: 275px;
    /*max-width: 500px;*/
    /*align-items: flex-start;*/
    flex-wrap: wrap;
}

.footer-nav-plan > div > ul > li{
    max-height: 250px;
    padding-top: 10px;
}

.footer-logos{
    position: absolute;
    bottom: 100px;
    right: 30px;
    align-items: center;
    display: flex;
}

.footer-logo-tela{
    height: 75px;
    padding-right: 20px;
}

.footer-logo-saclay{
    position: relative;
    height: 50px;
    border-left: 1px solid black;
    padding-left: 20px;
}

.footer-logo-saclay::after{
    content: "";
    height: 30px;
    width: 1px;
    background: var(--noir);
    position: absolute;
    top: 80px;
    left: 40px;
    z-index: 500000;
}

.footer-nav-bar {
    height: 50px;
    background-color: var(--gris-33);
    letter-spacing: 0.1rem;
    padding: 0 0.5rem;
    position: relative;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-about-tela {
    width: 260px;
    height: 100%;
    left: 20vw;
    position: relative;
}

.footer-about-tela-details{
    position: absolute;
    bottom: 105px;
}

.footer-about-botascopia-logo {
    position: absolute;
    top: 50px;
}

.footer-about-botascopia-logo img {
    width: 260px;
    height: 125px;
}

.footer-nav-toggle {
    display: none;
}

/*.footer-column a {*/
/*    margin-left: 0;*/
/*}*/

.footer-nav-items {
    font-size: 1.4rem;
    line-height: 2;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav-items a {
    border-bottom: 0.1rem solid transparent;
    text-decoration: none;
    transition: border 0.2s ease;
}

.footer-nav-items a:hover {
    border-bottom: 0.1rem solid;
}

/*.footer-nav-items > .menu-item + .menu-item {*/
/*    margin-top: 2rem;*/
/*}*/

.footer-nav-items > .menu-item > a {
    color: var(--gris-33);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.1rem;
}

.footer-nav-items > .menu-item:nth-child(1), .footer-nav-items > .menu-item:nth-child(2), .footer-nav-items > .menu-item:nth-child(3) {
    height: 100%;
    min-width: 200px;
    position: relative;
}

.footer-nav-items .sub-menu {
    list-style: none;
    padding: 0;
}

.footer-nav-items .sub-menu a {
    color: var(--gris-33);
    font-family: "Ubuntu-light", sans-serif;
    font-size: 14px;
}

.footer-nav-items .sub-menu .menu-item-more {
    color: var(--vert-fonce);
    fill: var(--vert-fonce);
    white-space: nowrap;
}

.footer-nav-items .sub-menu .menu-item-more a {
    color: inherit;
    font-family: "Ubuntu-light", sans-serif;
}

.footer-nav-items .sub-menu .menu-item-more .icon {
    height: 1rem;
    margin-left: 0.6rem;
    vertical-align: middle;
    width: 1rem;
}

.footer-nav-bar-items {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-nav-bar-items .menu-item {
    display: inline-block;
}

.footer-nav-bar a {
    color: var(--gris-b3);
    fill: var(--gris-b3);
    padding: 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s ease, fill 0.2s ease;
}

.footer-nav-bar a:hover {
    color: var(--gris-f0);
    fill: var(--gris-f0);
}

#togglePlanBtn {
    display: none;
}

@media (1030px < width <= 1350px) {
    .footer-about-tela {
        left: 10vw;
    }

    .footer-nav-plan {
        left: 25vw;
    }

    .footer-about-tela-details {
        width: 260px;
    }
}

@media (890px < width <= 1030px) {
    .footer-about-tela {
        left: 5vw;
    }

    .footer-about-botascopia-logo{
        top: 75px;
    }

    .footer-about-botascopia-logo img {
        width: 200px;
        height: unset;
    }

    .footer-about-tela-details {
        width: 200px;
    }

    .footer-nav-plan {
        left: 25vw;
    }
}

@media (780px < width <= 890px) {
    .footer-about-tela {
        left: 2vw;
    }

    .footer-about-botascopia-logo{
        top: 90px;
    }

    .footer-about-botascopia-logo img {
        width: 150px;
        height: unset;
    }

    .footer-about-tela-details {
        width: 150px;
    }

    .footer-nav-plan {
        left: 25vw;
    }
}

@media ( width <= 780px) {
    #togglePlanBtn {
        display: block;
    }

    .footer-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer-left {
        width: 80%;
        margin-top: 20px;
        border-bottom: 1px solid var(--gris-b3);
        padding-bottom: 20px;
        justify-content: center;
    }

    .footer-about-tela {
        width: 100%;
        position: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-about-botascopia-logo {
        position: unset;
        margin-bottom: 10px;
    }

    .footer-about-tela-details {
        position: unset;
        bottom: unset;
    }

    .footer-logos {
        position: unset;
        margin: 20px 0;
        width: 100%;
        justify-content: center;
    }

    .footer-nav-bar{
        bottom: unset;
    }

    .footer-nav-plan {
        position: unset;
        padding: 0;
    }

    .footer-legal {
        text-align: end;
    }
}

@media ( width <= 480px) {
    .footer-nav-items > .menu-item:nth-child(1), .footer-nav-items > .menu-item:nth-child(2), .footer-nav-items > .menu-item:nth-child(3) {
        height: unset;
        min-width: unset;
    }

    .footer-nav-plan {
        width: 100%;
        justify-content: space-between;
    }

    .footer-nav-bar{
        font-size: 12px;
    }
}
