@import url(_variables.css);
@import url(../../base/mixins.css);

:root {
    --header-breakpoint-small: 1200px;
    --header-breakpoint-large: 1330px;
}

.header {
    position: relative;
    z-index: 1500;
    height: 80px;
    width: 100%;

}

.header-fixed, .header-container {
    font-family: "Ubuntu", sans-serif;
}

.header-fixed {
    box-shadow: 0px 3px 2px #00000029;;
    background-color: var(--rose-pale);
    /*font-size: 0;*/
    height: var(--header-height-fixed);
    position: fixed;
    width: 100%;
    z-index: 101;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.header-container {
    z-index: 100;
}

.header-logo {
    /*float: left;*/
    font-family: ubuntu;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 100px;
}

.header-logo > a {
    /*background-color: var(--vert-clair);*/
    align-items: center;
    color: var(--blanc);
    display: flex;
    height: var(--header-height-fixed);
    justify-content: center;
    text-decoration: none;
    transition: background 0.2s ease;
}

.header-logo > a:hover, .header-logo > a:focus {
    /*background-color: var(--vert-clair-vif);*/
}

.header-logo img {
    width: 120px;
    height: 60px;
}

body.bp-user .header-logo {
    width: 26rem;
}

body.bp-user .header-logo > a {
    justify-content: flex-start;
    padding-left: 3rem;
}

.header-nav-items a,
.header .sub-menu a, .header-nav-usecases-items a, .header-nav-items a, .header-submenu-container .sub-menu a {
    display: block;
    text-decoration: none;
}

.header-nav-items > .menu-item > a,
.header .sub-menu > .menu-item > a, .header-nav-usecases-items > .menu-item > a, .header-nav-items > .menu-item > a, .header-submenu-container .sub-menu > .menu-item > a {
    padding: 0 1rem;
}

.header-nav-items > .menu-item.current-menu-item > a,
.header .sub-menu > .menu-item.current-menu-item > a, .header-nav-usecases-items > .menu-item.current-menu-item > a, .header-nav-items > .menu-item.current-menu-item > a, .header-submenu-container .sub-menu > .menu-item.current-menu-item > a {
    color: var(--noir);
}

.header-nav-usecases-items > .menu-item > a {
    color: var(--noir-d34);
    text-transform: uppercase;
    font-size: 18px;
}

.header .sub-menu {
    font-size: 1.5rem;
    letter-spacing: 0;
}

.header .sub-menu > .menu-item.is-contribution a {
    color: var(--vert-fonce);
    fill: var(--vert-fonce);
    font-family: ubuntu;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.header .sub-menu > .menu-item.is-contribution a .icon {
    margin-right: 0.8rem;
    vertical-align: bottom;
}

.header .sub-menu > .menu-item + .menu-item {
    border-top: 0.1rem solid var(--taupe);
}

.header .sub-menu > .menu-item-description {
    color: var(--gris-60);
    font-family: muli;
    font-size: 1.3rem;
    line-height: 1.6;
    padding: 2rem 1.5rem 0.9rem 2.9rem;
    position: relative;
}

.header .sub-menu > .menu-item-description .icon {
    fill: var(--gris-99);
    height: 1.8rem;
    left: 0.4rem;
    position: absolute;
    top: 2.2rem;
    width: 1.8rem;
}

.header .sub-menu a {
    color: var(--gris-33);
    font-family: "muli", sans-serif;
}

.header .sub-menu a:focus {
    outline: 0.2rem solid var(--vert-clair);
}

.header-nav-usecases-items li {
    display: flex;
    text-decoration: none;
    margin-right: 20px;
}

.header-nav-usecases-items{
    display: flex;
}

.header-links-item-user-avatar {
    /*height: 52px;*/
    /*width: 52px;*/
    color: var(--noir-d34);
    vertical-align: middle;
}

.header-links-item-user-avatar img{
    height: 52px;
    width: 52px;
    border-radius: 26px;
    vertical-align: middle;
    margin-left: 12px;
}

.header-links {
    flex-direction: column-reverse;
    font-family: "Muli", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 20%;
}

.header-links ul {
    padding:0;
    margin:0;
}
.header-nav-usecases-items li {
    margin-left:2px;
    float:left;
    height: 80px;
    align-items: center;
    display: flex;
}
.header-nav-usecases-items li:hover{
    background-color: rgba(178, 203, 67, 0.1);
    border-bottom: solid 5px var(--vert-clair);
    transition: ease;
}
.header-nav-usecases-items ul li a {
    display:block;
    float:left;
    color: var(--noir-d34);
    text-decoration:none;
    text-align:center;
    padding-right: 10px;
    padding-left: 10px;
}

.header-login{
    position: absolute;
    right: 2%;
}

.header-login-display-name{
    font-family: "Ubuntu", "sans-serif";
    font-weight: bold;
}

.header-login-role{
    color: var(--vert-clair);
}

.header-login-link{
    color: var(--noir-d34);
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
    display: flex;
    align-items: center;
}

.menu-container {
    display: flex;
    align-items: center;
}

.menu-container + bg-rose{
    display: none;
}

.header-toggle {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 50;
}

.bg-rose {
    background-color: var(--rose-pale);
}

.menu-and-login {
    display: flex;
    align-items: center;
}
@media (780px < width <= 1050px) {
    .header-nav-usecases-items > .menu-item > a {
        font-size: 15px;
    }

    .header-logo {
        margin-left: 50px;
    }

    .header-login-link{
        font-size: 13px;
    }

    .header-nav-usecases-items li{
        margin-right: 5px;
    }

    .header-nav-usecases-items{
        padding-left: 5px;
    }
}

@media ( width <= 780px) {
    .header{
        height: 60px;
    }
    .header-toggle {
        display: block;
    }

    .menu-container {
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }

    .menu-container.flex {
        display: flex;
    }

    .menu-container .bg-rose{
        width: 300px;
    }

    .menu-and-login{
        width: 100%;
        display: block;
    }

    #menu-principal {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-login{
        position: relative;
        display: flex;
        justify-content: flex-end;
        margin: 20px 20px 0 0;
    }

    .header-nav-usecases {
        background-color: var(--blanc);
        width: 100%;
        margin-top: 70px;
    }

    .deconnexion-button {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .header-nav-usecases-items li:hover {
        background-color: var(--blanc);
        border: none;
    }

    #menu-toggle > button {
        background-color: transparent;
    }

    .header-logo {
        margin-left: 30px;
    }
}

@media (min-width: var(--header-breakpoint-large)) {
    .header-logo {
        margin-right: 6rem;
    }

    .header-nav-items > .menu-item {
        margin-right: 2rem;
    }
}
