/****************** Page collections **************************/
#collections-container{
    margin-bottom: 20px;
}
.collection-main{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(100% + 130px);
    min-height: 50vh;
}

.left-div{
    position: sticky;
    left: 0;
    top: 0;
    width: 275px;
    margin: 0;
    height: 100%;
}

.right-div{
    height: 100%;
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    left: 80px;
    /*left: calc(20vw + 275px);*/
    top: 0;
    width: 100%;
}

.second-toc{
    height: 100%;
}

.toc-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.display-collection-cards{
    margin: 30px 0 0 20px;
}

.voir-plus-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-collection-cards-items > div {
    display: none;
}

.display-collection-cards-items > div:nth-child(-n+10) {
    display: flex;
}

/****************** Page mes collections **************************/
#mes-collections-completes, #collection-a-completer{
    margin-top: 20px;
}

/****************** Page single collection **************************/
.collection-title{
    font-size: 24px;
}

.single-collection-title{
    margin: 20px 0 80px 0;
    text-transform: capitalize;
}

.single-collection-title-right{
    margin: 20px 0;
    text-transform: capitalize;
}

.single-collection-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-collection-buttons > a:nth-child(1){
    display: none; /* TODO: A supprimer une fois la fonction export implémenter */
    width: 200px;
}

.single-collection-buttons > a:nth-child(2){
    width: 200px;
}

.single-collection-export-format{
    display: none; /* TODO: A supprimer une fois la fonction export implémenter */
    font-size: 11px;
    color: var(--vert-clair);
    margin: -10px 0 50px 10px;
}

.return-button{
    display: flex;
    align-items: center;
    color: var(--noir-d34);
    margin-top: 20px;
}
.single-collection-details{
    width: 250px;
    margin: 30px 0;
}

.single-collection-detail:nth-child(2){
    border-top: 1px solid var(--noir);
    border-bottom: 1px solid var(--noir);
}
.single-collection-detail{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.display-fiches-cards-items{
    margin-top: 30px;
    display: flex;
    /*justify-content: space-evenly;*/
    flex-wrap: wrap;
}

/****************** Bandeau complète/en cours /pas complète **************************/

.main-status-bandeau{
    position: relative;
    display: flex;
    height: 60px;
    margin-top: -60px;
    width: 282px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 10px 10px 0 0;
    color: var(--blanc);
}

.main-status-incomplete{
    background-color: var(--violet);
}

.main-status-complete{
    background-color: var(--vert-clair);
}
.fiche-status{
    width: 200px;
    margin: 10px 20px 10px 0;
    padding: 0;
}
.card-status-bandeau{
    position: relative;
    display: flex;
    height: 40px;
    margin: 0 auto -50px auto;
    width: 134px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 0 0 10px 10px;
    color: var(--blanc);
    z-index: 2;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
}

/****************** popup réservation de fiche **************************/
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 290px;
    background-color: var(--blanc);
    border-radius: 10px;
    padding: 20px;
    z-index: 9999;
}

.popup > div{
    position: relative;
    height: 100%;
}

#content.blur-background::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(31px);
    z-index: 500;
}

header.blur-background::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(31px);
    z-index: 500;
}

#primary.blur-background::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(1000px);
    z-index: 500;
}

.popup::before {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    pointer-events: auto;
}

.blur-background {
    overflow: hidden;
}

.blur-background > * {
    pointer-events: none;
}
.popup-display-buttons > a{
    margin: 0;
}
.popup-display-buttons > a:first-child{
    position: absolute;
    bottom: 20px;
    left: 0;
}

.popup-display-buttons> a:last-child{
    position: absolute;
    bottom: 20px;
    right: 0;
}
/****************** page création de collection **************************/
#image-preview, #existing-image-preview {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 0;
    left: 32px;
}

#new-post-form{
    width: 100%;
}

.new-collection-cover-area{
    position: absolute;
    top: 30px;
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

.new-titre-collection-block, .new-photo-collection-block, .new-description-collection-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.new-titre-collection-block, .new-description-collection-block {
    width: 65%;
}

.description-area{
    width: 100%;
}

.new-photo-collection-block {
    position: relative;
}

.new-collection-title {
    font-size: 18px;
    font-family: "Ubuntu-bold", sans-serif;
    margin-bottom: 10px;
}

#post-title {
    padding: 0 20px;
    height: 40px;
}

#post-description {
    padding: 20px;
}

#post-description, #post-title {
    border: 1px solid #1D2D33;
}

.inputfile {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-label {
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 10px;
}

.upload-explanation {
    font-size: 12px;
    font-family: "Muli", sans-serif;
    line-height: 15px;
}

.new-collection-main {
    background-color: var(--blanc);
    padding: 20px 0;
}

.new-collection-main > .display-fiches-cards-items {
    margin-top: 0;
}

.new-collection-buttons {
    display: flex;
    justify-content: space-between;
}

.new-collection-submit-button{
    margin-top: 20px;
}

.popup-ajout-fiches{
    width: 90vw;
    height: 75vh;
    top: 50%;
    padding: 20px 40px;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.popup-ajout-display-buttons > a{
    margin: 0;
}

.popup-ajout-display-buttons > a:first-child{
    position: absolute;
    top: 45px;
    right: 200px;
}

.popup-ajout-display-buttons> a:last-child{
    position: absolute;
    top: 45px;
    right: 0;
}

#ouvrir_popup_ajouter_fiche{
    cursor: pointer;
}

#ouvrir_popup_ajouter_fiche > .card-fiche-body {
    width: 100%;
    position: absolute;
    top: 70%;
    padding: 0 10px;
    text-align: center;
}

#ouvrir_popup_ajouter_fiche > .card-fiche-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

.existing-fiches{
    display: flex;
    flex-wrap: wrap;
}

.checkbox-area {
    background-color: var(--blanc);
    position: absolute;
    left: 20px;
    top: 0;
    width: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-checkbox{
display: none;
}

.checkbox-container {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #fff; /* Couleur du fond */
    border: 2px solid #000; /* Couleur de la bordure */
    border-radius: 50%; /* Bordure arrondie pour créer un cercle */
}

/* Style du point intérieur (visible lorsque la checkbox est cochée) */
.checkbox-container::before {
    content: '\2022'; /* Caractère Unicode pour un point • (utilisé comme coche) */
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--noir); /* Couleur du point */
    font-size: 40px; /* Taille du point */
    display: none;
}

/* Style de la checkbox lorsque cochée */
.card-checkbox:checked + .checkbox-container::before {
    display: block;
}

.card-container {
    max-height: calc(100% - 100px); /* Ensure the card container does not exceed the popup height */
    overflow-y: auto; /* Enable vertical scrolling if needed */
}

.card-container::-webkit-scrollbar {
    width: 0;  /* Set the width of the scrollbar to 0 */
}

.ajout-fiches-search-bar {
    font-size: 13px;
    padding: 5px 15px;
    text-align: left;
}

.search-box-ajout-fiche {
    width: 45%;
}

/************** Media queries **************/
@media (769px <= width <= 1250px) {
    .left-div {
        width: 300px;
    }

    .right-div{
        left: 20px;
    }

    .collection-main {
        width: 100%;
    }

    .main-status-bandeau {
        margin-left: -20px;
        width: 275px;
    }
}

@media (481px <= width <= 768px) {
    .left-div {
        width: 200px;
    }

    .right-div{
        left: 20px;
    }

    .collection-main {
        width: 100%;
    }

    .single-collection-details {
        width: 200px;
    }

    .main-status-bandeau {
        margin-left: -20px;
        width: 225px;
    }
}

@media ( width <= 480px) {
    .collection-main {
        width: 100%;
        flex-direction: column;
    }
    .left-div {
        width: 100%;
        padding: 20px 20px;
    }

    .right-div{
        left: 0;
        width: 100%;
        background-color: var(--blanc);
        padding: 20px 20px;
    }

    .main-status-bandeau {
        margin-top: -30px;
        width: 225px;
        height: 30px;
        font-size: 13px;
    }

    .display-fiches-cards-items{
        justify-content: center;
    }
}

