/****************** page fiche **************************/
.fiche-cover::before{
    content: none !important;
}

.fiche-cover{
    background-color: var(--rose-pale) !important;
    background-position-x: right !important;
    background-size: initial !important;
}

.fiche-cover h1{
    color: var(--violet);
}

.fiche-cover .cover-subtitle{
    color: var(--vert-clair);
}

.fiche-image{
    position: absolute;
    right: 0;
    top: 10px;
    width: 255px;
    height: 255px;
    border-radius: 200px;
}

#fiche{
    margin-left: 40px;
}
#fiche-infos{
    color: var(--noir-d34);
}

#fiche-infos > .fiche-title-infos{
    text-transform: uppercase;
}

.fiche-infos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.single-fiche-details{
    width: 265px;
    margin: 0;
}

.single-fiche-detail:nth-child(2){
    border-top: 1px solid var(--noir);
}

.single-fiche-detail:nth-child(3){
    border-top: 1px solid var(--noir);
    border-bottom: 1px solid var(--noir);
}

.single-fiche-detail{
    width: 100%;
    padding: 10px 0;
    text-align: left;
}

.fiche-title-icon{
    display: flex;
    margin-left: -50px;
}

.fiche-title-icon > img{
    margin-right: 10px;
}

#description-morphologique{
    margin-top: 10px;
}

/* Sections avec photos */
#tige, #feuilles, #fruits, #fleur-male, #fleur-femelle, #fleur-bisexuee, #ne-pas-confondre{
    position: relative;
    min-height: 275px;
    margin: 60px 0;
    padding-right: 20px;
}

/* Sections avec photos */
#tige > p, #feuilles > p, #fruits > p, #fleur-male > p, #fleur-femelle > p, #fleur-bisexuee > p, #ne-pas-confondre > p{
    /*width: 400px;*/
}

/* Sections sans photos */
#inflorescence, #le-saviez-vous, #periode-floraison, #ecologie, #proprietes, #aire-repartition, #description-vulgarisee, #complement-anecdote, #references, #taxonomie{
    margin: 60px 0;
    padding-right: 20px;
}

.image-tige{
    /*position: absolute;*/
    right: 0;
    top: 0;
    object-fit: contain;
    max-width: 275px;
    max-height: 275px;
}

#periode-floraison{
    position: relative;
}

#periode-floraison .calendar{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#periode-floraison .calendar div{
    text-align: center;
    font-weight: bold;
    font-size: 0.42cm;
    text-transform: uppercase;
}

.text-floraison{
    color: var(--vert-clair);
}

.text-fructification{
    color: var(--violet);
}

#aire-repartition .section-image{
    width: 100%;
    /*height: 700px;*/
}

#aire-repartition .section-image > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.monthly-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-right: 10px;
}

#periode-floraison .calendar .icon {
    margin: 10px 0;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.display-fiche-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.fiche-title-container {
    width: 55%;
}

#fiche-infos-right {
    margin-right: 20px;
}

@media (width <= 910px) {
    .fiche-title-container {
        width: 100%;
    }

    #fiche-infos-right {
        margin-top: 20px;
    }

}

/*@media (width <= 890px) {*/
/*    .fiche-title-container {*/
/*        width: 100%;*/
/*    }*/
/*}*/

@media (781px <= width <= 1250px) {
     #fiche {
         margin-left: 10px;
     }

     .fiche-title-icon {
         margin-left: 0;
     }
}

@media (581px <= width <= 780px) {
    .fiche-title-icon {
        margin-left: 0;
    }

    #fiche {
        margin-left: 10px;
    }
}

@media (width <= 767.9px) {
    .fiche-image{
        right: 10px;
        top: 25px;
        width: 130px;
        height: 130px;
    }
}

@media ( width <= 580px) {
    .monthly-calendar {
        margin-right: 5px;
    }

    .fiche-title-icon {
        margin-left: 0;

        .title{
            font-size: 18px;
        }
    }

    #fiche {
        margin-left: 0;
    }

    .fiche-main .layout-wrapper {
        width: 150px;
    }
}