#guide-container  p {
    text-align: justify;
    margin-top: 20px;
}

#glossaire-container {
    left: 110px;
    text-align: justify;
}

.page-sans-sommaire-primary {
    .left-div {
        display: none;
    }

    .bg-fill {
        left: 300px;
    }
}

@media ( width <= 1250px) {
    #glossaire-container, #guide-container {
        margin-right: 20px;
    }

    .page-sans-sommaire-primary {
        .bg-fill {
            left: 100px;
        }
    }

    #glossaire-container {
        /*left: 20px;*/
        width: 80%;
    }
}

@media ( 580px <= width <= 780px) {
    #glossaire-container {
        left: 10px;
        width: 100%;
    }

    .page-sans-sommaire-primary {
        .bg-fill {
            left: 0;
        }
    }
}

@media ( width <= 580px) {
    #glossaire-container {
        left: unset;
        width: 100%;
    }
}