#guide-container  p {
    text-align: justify;
    /*margin-top: 20px;*/
}

#glossaire-container {
    left: 110px;
    text-align: justify;
}

.page-sans-sommaire-primary {
    .left-div {
        display: none;
    }

    .bg-fill {
        left: 300px;
    }
}

#guide-container h4 {
    margin: 0;
}

.filtre-glossaire {
    margin: 20px 0;
}

.bouton-glossaire {
    margin: 0 10px 10px 0;
    width: 30px;
    border-radius: 20px;
    padding: 5px;
    background-color: var(--rose-pale);
}

.filtre-glossaire-actif {
    background-color: var(--gris-77);
    color: var(--blanc);
}

.bouton-glossaire:hover, .filtre-glossaire-actif:hover {
    cursor: pointer;
}

@media ( width <= 1250px) {
    #glossaire-container, #guide-container {
        margin-right: 20px;
    }

    .page-sans-sommaire-primary, .glossaire-primary {
        .bg-fill {
            left: 100px;
        }
    }

    #glossaire-container {
        width: 80%;
    }
}

@media ( 580px <= width <= 780px) {
    #glossaire-container {
        left: 10px;
        width: 100%;
    }

    .page-sans-sommaire-primary, .glossaire-primary {
        .bg-fill {
            left: 0;
        }
    }

    .bouton-glossaire {
        width: 35px;
        height: 35px;
        border-radius: 20px;
        margin: 0 15px 15px 0;
    }
}

@media ( width <= 580px) {
    #glossaire-container {
        left: unset;
        width: 100%;
    }

    .bouton-glossaire {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin: 0 20px 20px 0;
    }

    .filtre-glossaire {
        width: 100%;
        padding-right: unset;
    }
}