.profil-main {
    background-color: var(--blanc);
    padding: 20px 0;
    min-height: 500px;
}

.home-author-fiches-container {
    margin: 20px 0;
}

.home-author-fiches {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}