@charset "UTF-8";
.component-accordion__panel {
    display: block;
    overflow: hidden;
    opacity: 1;
    transition: visibility 0s ease, max-height 0.5s ease, opacity 0.5s ease;
    max-height: 1000rem;
    /* magic number for max-height = enough height */
    visibility: visible;
    transition-delay: 0s;
    margin: 0;
    padding: 0;
}

.component-accordion__panel[aria-hidden=true] {
    display: block;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.5s, 0s, 0s;
    margin: 0;
    padding: 0;
}

.component-accordion__panel[role="tabpanel"] .component-accordion__header {
    display: none;
}

.component-accordion__header {
    background: transparent;
    border: 0;
    border-bottom: 0.1rem solid var(--gris-dd);
    color: var(--gris-23);
    cursor: pointer;
    display: block;
    font-family: 'Ubuntu';
    font-size: 1.8rem;
    font-weight: normal;
    padding: 1.5rem 0.5rem;
    text-align: left;
    width: 100%;
}

.component-accordion__header::before {
    color: var(--vert-bouton);
    content: "▷";
    display: inline-block;
    margin-right: 1.5rem;
    transition: transform 0.2s ease;
}

.component-accordion__header[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.component-accordion__header[aria-selected="true"]::before {
    content: "▶";
}

.component-accordion .component-accordion__header + p {
    margin-top: 2rem;
}
