html {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

::selection {
    background: rgba(178, 203, 67, 0.4);
    color: inherit;
    text-shadow: inherit;
}

img::selection {
    background: transparent;
}

body {
    color: var(--noir-d34);
    font-family: "Muli", sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 2.4rem;
    margin: 0 auto;
    background-color: var(--rose-pale);
}

/*body.post-type-page {*/
/*    max-width: 62rem;*/
/*}*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 32px;
    color: var(--noir-e35);
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 15px;
}

p {
    margin: 0 0 2rem;
}

a {
    color: var(--turquoise-fonce);
    font-weight: normal;
    text-decoration: none;
    transition: background 0.2s ease;
}

b,
strong {
    font-weight: bold;
}

#primary{
    height: 100%;
    background-color: var(--rose-pale);
    position: relative;
}

.bg-fill{
    height: 100%;
    right: 0;
    top: 0;
    left: calc(20vw + 275px);
    position: absolute;
    background-color: var(--blanc);
}

/* Définie le container principal */
#main{
    width: 60vw;
    margin: 0 auto;
}

/****************** Page collections **************************/
.collection-main{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 275px;
}

.left-div{
    position: sticky;
    left: 0;
    top: 0;
    width: 275px;
    margin: 0;
    height: 100%;

}
.right-div{
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    left: 80px;
    /*left: calc(20vw + 275px);*/
    top: 0;
    min-width: 700px;
}

.second-toc{
    height: 100%;
}

.toc-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* TODO: A supprimer une fois les pages créer une collection et créer une fiche implémentées */
#mes-collections  .toc-button:nth-child(1), #mes-collections  .toc-button:nth-child(2){
    display: none;
}

.display-collection-cards{
    margin: 30px 0 0 20px;
}

/****************** Page single collection **************************/
.single-collection-title{
    margin: 20px 0 80px 0;
    text-transform: capitalize;
}

.single-collection-title-right{
    margin: 20px 0;
    text-transform: capitalize;
}

.single-collection-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-collection-buttons > a:nth-child(1){
    display: none; /* TODO: A supprimer une fois la fonction export implémenter */
    width: 200px;
}

.single-collection-buttons > a:nth-child(2){
    width: 200px;
}

.single-collection-export-format{
    display: none; /* TODO: A supprimer une fois la fonction export implémenter */
    font-size: 11px;
    color: var(--vert-clair);
    margin: -10px 0 50px 10px;
}

.return-button{
    display: flex;
    align-items: center;
    color: var(--noir-d34);
    margin-top: 20px;
}
.single-collection-details{
    width: 250px;
    margin: 30px 0;
}

.single-collection-detail:nth-child(2){
    border-top: 1px solid var(--noir);
    border-bottom: 1px solid var(--noir);
}
.single-collection-detail{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.display-fiches-cards-items{
    margin-top: 30px;
    display: flex;
    /*justify-content: space-evenly;*/
    flex-wrap: wrap;
}

/****************** Bandeau complète/en cours /pas complète **************************/

.main-status-bandeau{
    position: relative;
    display: flex;
    height: 60px;
    margin-top: -60px;
    width: 282px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 10px 10px 0 0;
    color: var(--blanc);
}

.main-status-incomplete{
    background-color: var(--violet);
}

.main-status-complete{
    background-color: var(--vert-clair);
}
.fiche-status{
    width: 200px;
    margin: 10px 20px 10px 0;
    padding: 0;
}
.card-status-bandeau{
    position: relative;
    display: flex;
    height: 40px;
    margin: 0 auto -50px auto;
    width: 134px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 0 0 10px 10px;
    color: var(--blanc);
    z-index: 2;
}

/****************** popup réservation de fiche **************************/
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 290px;
    background-color: var(--blanc);
    border-radius: 10px;
    padding: 20px;
    z-index: 9999;
}

.popup > div{
    position: relative;
    height: 100%;
}

#content.blur-background::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(31px);
    z-index: 500;
}

.popup::before {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    pointer-events: auto;
}

.blur-background {
    overflow: hidden;
}

.blur-background > * {
    pointer-events: none;
}
.popup-display-buttons > a{
    margin: 0;
}
.popup-display-buttons > a:first-child{
    position: absolute;
    bottom: 20px;
    left: 0;
}

.popup-display-buttons> a:last-child{
    position: absolute;
    bottom: 20px;
    right: 0;
}
