@font-face {
    font-family: "Muli-light";
    src: url("../fonts/muli-light-webfont.eot");
    src: url("../fonts/muli-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/muli-light-webfont.woff2") format("woff2"), url("../fonts/muli-light-webfont.woff") format("woff"), url("../fonts/muli-light-webfont.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Muli";
    src: url("../fonts/muli-regular-webfont.eot");
    src: url("../fonts/muli-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/muli-regular-webfont.woff2") format("woff2"), url("../fonts/muli-regular-webfont.woff") format("woff"), url("../fonts/muli-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Muli-bold";
    src: url("../fonts/muli-bold-webfont.eot");
    src: url("../fonts/muli-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/muli-bold-webfont.woff2") format("woff2"), url("../fonts/muli-bold-webfont.woff") format("woff"), url("../fonts/muli-bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu-bold";
    src: url("../fonts/ubuntu-bold-webfont.eot");
    src: url("../fonts/ubuntu-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-bold-webfont.woff2") format("woff2"), url("../fonts/ubuntu-bold-webfont.woff") format("woff"), url("../fonts/ubuntu-bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu-medium";
    src: url("../fonts/ubuntu-medium-webfont.eot");
    src: url("../fonts/ubuntu-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/ubuntu-medium-webfont.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/ubuntu-regular-webfont.eot");
    src: url("../fonts/ubuntu-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff"), url("../fonts/ubuntu-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu-light";
    src: url("../fonts/ubuntu-light-webfont.eot");
    src: url("../fonts/ubuntu-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff"), url("../fonts/ubuntu-light-webfont.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Muli", sans-serif;
    /*font-size: 1.5rem;*/
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /*font-weight: 300; */
}

strong {
    font-weight: bold;
}